.containerClient{
    width: 100%;
    padding: 2rem;
}

.containerClient main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 30px;
    
}

.containerClient section:nth-child(1){
    width: 25%;
    height: 34.2rem;
    background-color: #E5E5E5;
    border-radius: 8px;
    box-shadow: 7px 6px 20px 7px rgba(229, 229, 229, 0.59);
}

.containerClient main .line{
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 32rem;
    align-items: center;
    justify-content: space-between;
}

.containerClient main .line span:nth-child(1),
.containerClient main .line span:nth-child(3)
{
    display: block;
    width: 3px;
    height: 14.3rem;
    padding: 1px;
    background-color: var(--main-color);
    border-radius: 8px;
}

.containerClient main .line span:nth-child(2){
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: white;
    margin: 0px 1.4rem 0 1.4rem;
}

.containerClient section:nth-child(3){
    width: 70%;
    height: 34.2rem;
    background-color: #E5E5E5;
    border-radius: 8px;
    box-shadow: 7px 6px 20px 7px rgba(229, 229, 229, 0.59);
}