<div class="containerClient">
  <main>
    <div class="sectionFilter">
      <section>
        <div class="filter">
          <form>
            <fieldset>

              <label for="location">Localização do Imóvel</label><br/>
              <div class="input-block">
                <input type="text" id="location" name="location" placeholder="Estado, Cidade, Rua"/>
              </div>

              <label for="immobile">Tipo de Imóvel</label><br/>
              <ng-select id="immobile" name="immobile">
                <ng-option [value]="0">Selecione</ng-option>
                <ng-option [value]="1">Aluguel</ng-option>
                <ng-option [value]="2">Venda</ng-option>
              </ng-select>

              <label for="value-min">Valor do Imóvel</label><br/>
              <div class="select-block-value">
                <label style="font-size: 12px;">Min</label>
                <mat-slider
                  [displayWith]="changeMinValue"
                  thumbLabel
                  tickInterval="50"
                  min="100"
                  max="5000">
                </mat-slider>
                <span>  -  </span>
                <label style="font-size: 12px;">Max</label>
                <mat-slider
                  [displayWith]="changeMaxValue"
                  thumbLabel
                  tickInterval="50"
                  min="100"
                  max="5000">
                </mat-slider>
              </div>

              <label for="area-min">Área do Imóvel (m²)</label><br/>
              <div class="select-block-area">
                <label style="font-size: 12px;">Min</label>
                <mat-slider
                  [displayWith]="changeMinMeters"
                  thumbLabel
                  tickInterval="5"
                  min="20"
                  max="2000">
                </mat-slider>
                <span>  -  </span>
                <label style="font-size: 12px;">Max</label>
                <mat-slider
                  [displayWith]="changeMaxMeters"
                  thumbLabel
                  tickInterval="5"
                  min="20"
                  max="2000">
                </mat-slider>
              </div>

              <label for="bathroom">Número de quartos</label>
              <div class="button-block-bath">
                <button
                  [ngClass]="{'selected' : numBedrooms == 1}"
                  (click)="changeBedroom(1)"> +1 </button>
                <button
                  [ngClass]="{'selected' : numBedrooms == 2}"
                  (click)="changeBedroom(2)"> +2 </button>
                <button 
                  [ngClass]="{'selected' : numBedrooms == 3}"
                  (click)="changeBedroom(3)"> +3 </button>
                <button
                  [ngClass]="{'selected' : numBedrooms == 4}"
                  (click)="changeBedroom(4)"> +4 </button>
                <button
                  [ngClass]="{'selected' : numBedrooms == 5}"
                  (click)="changeBedroom(5)"> +5 </button>
              </div>

              <label for="bathroom">Número de Banheiros</label>
              <div class="button-block-bath">
                <button
                  [ngClass]="{'selected' : numBathrooms == 1}"
                  (click)="changeBathroom(1)"> +1 </button>
                <button
                  [ngClass]="{'selected' : numBathrooms == 2}"
                  (click)="changeBathroom(2)"> +2 </button>
                <button
                  [ngClass]="{'selected' : numBathrooms == 3}"
                  (click)="changeBathroom(3)"> +3 </button>
                <button
                  [ngClass]="{'selected' : numBathrooms == 4}"
                  (click)="changeBathroom(4)"> +4 </button>
                <button
                  [ngClass]="{'selected' : numBathrooms == 5}"
                  (click)="changeBathroom(5)"> +5 </button>
              </div>

              <label for="bathroom">Número de vagas na garagem</label>
              <div class="button-block-bath">
                <button
                  [ngClass]="{'selected' : numGarage == 1}"
                  (click)="changeGarage(1)"> +1 </button>
                <button
                  [ngClass]="{'selected' : numGarage == 2}"
                  (click)="changeGarage(2)"> +2 </button>
                <button
                  [ngClass]="{'selected' : numGarage == 3}"
                  (click)="changeGarage(3)"> +3 </button>
                <button
                  [ngClass]="{'selected' : numGarage == 4}"
                  (click)="changeGarage(4)"> +4 </button>
                <button
                  [ngClass]="{'selected' : numGarage == 5}"
                  (click)="changeGarage(5)"> +5 </button>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
      <div class="line">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <section>
      <div class="fieldset" *ngFor="let house of houses">
        <img src="../../../../assets/casa.png" alt="Casa" />

        <div class="content">
          <legend>
            <span>{{house.nome}}</span>
          </legend>
        
          <div class="cards">
            <div class="card">
              <img src="../../../../assets/icons/size.png" />
              <strong>{{house.metrosQuadrados}}²</strong>
            </div>
            <div class="card">
              <img src="../../../../assets/icons/bed.png" />
              <strong>{{house.qtdQuartos}}</strong>
            </div>
            <div class="card">
              <img src="../../../../assets/icons/bathroom.png" />
              <strong>{{house.qtdBanheiros}}</strong>
            </div>
            <div class="card">
              <img src="../../../../assets/icons/garage.png" />
              <strong>{{house.qtdVagasNaGaragem}}</strong>
            </div>
          </div>
        
          <span class="price">R$ {{house.valor}}</span>
        </div>
      </div>
    </section>
  </main>
</div>
