.containerClient {
  width: 100%;
  padding: 2rem;
}

.containerClient main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.containerClient .sectionFilter {
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-height: 550px;
  position: fixed;
}

.containerClient .sectionFilter section {
  background-color: #e5e5e5;
  box-shadow: 7px 6px 20px 7px rgba(229, 229, 229, 0.59);
  width: 85%;
}

.containerClient .sectionFilter .line {
  display: flex;
  flex-direction: column;
  height: 32rem;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.containerClient main .line span:nth-child(1),
.containerClient main .line span:nth-child(3) {
  display: block;
  width: 3px;
  height: 14.3rem;
  padding: 1px;
  background-color: var(--main-color);
  border-radius: 8px;
}

.containerClient main .line span:nth-child(2) {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: white;
  margin: 0px 1.4rem 0 1.4rem;
}

.containerClient main > section {
  width: 80%;
  background-color: #e5e5e5;
  box-shadow: 7px 6px 20px 7px rgba(229, 229, 229, 0.59);
  padding: 1.25rem;
  margin-left: 31%;
}

.containerClient section .fieldset {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: white;
  margin-bottom: 0.8rem;
}

.containerClient section .fieldset > img {
  width: 16.3rem;
  height: 11.8rem;
}

.containerClient section .fieldset .content {
  padding: 10px;
  width: 100%;
  position: relative;
}

.containerClient section .fieldset .content legend span {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  width: 100%;
}

.containerClient .cards {
  display: flex;
}

.containerClient .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 3px 5px 5px 3px rgba(193, 31, 31, 0.25);
  border-radius: 8px;
  padding: 0.6rem;
  margin-right: 0.9rem;
  margin-top: 40px;
  min-width: 100px;
}

.containerClient .cards .card strong {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.containerClient section .fieldset .content .price {
  position: absolute;
  bottom: 0.6rem;
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.4rem;
  color: #1f703f;
}

/* CSS PARA OS FILTROS ABAIXO 
-----------------------------*/
.filter {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 700;
  padding: 20px 13px 12px 14px;
}

.filter .input-block input {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0.5rem 0;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 95%;
  padding-left: 10px;
  border-radius: 0.5rem;

  font-family: "Archivo";
  font-size: 14px;
  font-weight: 600;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}

.filter .select-block-value {
  display: flex;
  align-items: center;
}

.filter .select-block-value span {
  margin: 0 0.8rem;
}

.filter .select-block-value select:last-child {
  margin-left: 0;
}
.filter .select-block-area {
  display: flex;
  align-items: center;
}

.filter .select-block-area span {
  margin: 0 0.8rem 0;
}

.filter .select-block-area select:last-child {
  margin-left: 0px;
}

.filter .button-block-bath {
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.filter button {
  display: inline-block;

  padding: 0.6rem;
  margin: 0.25rem 0.13rem;

  font-size: 100%;
  font-family: "Archivo";
  font-weight: 500;
  text-align: center;
  text-decoration: none;

  color: black;
  background-color: #ffffff; /* Green */

  border: none;
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  outline: none;
  cursor: pointer;
}

.filter button:hover {
  color: #ffffff;
  background-color: #6fa3f0e7;
  box-shadow: 1px 2px 7px 4px rgba(0, 0, 0, 0.1);
}

.filter button.selected {
  background-color: #37be50e7;
  box-shadow: 1px 2px 7px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.filter button:nth-child(n + 2) {
  margin-left: 10px;
}
