<div class="containerCardHouse">
    <div class="fieldset">
        <img src="../../../../assets/casa.png" alt="Casa" />
    
        <div class="content">
            <legend>
                <mat-form-field style="width: 100%;" *ngIf="anunciante != true">
                    <mat-label>Coloque aqui qual será o título do anúncio</mat-label>
                    <input
                        [(ngModel)]="house.nome"
                        matInput
                        #message
                        maxlength="33"
                        placeholder="Ex. Casa grande e mobilhada em barro nobre...">
                    <mat-hint align="end">{{message.value.length}} / 33</mat-hint>
                </mat-form-field>
                <div *ngIf="anunciante === true" class="anunciante">
                    <span >{{house.nome}}</span>
                    <div class="acoes">
                        <img src="../../../../assets/icons/excluir.png"/>
                        <img src="../../../../assets/icons/editar.png" />
                    </div>
                </div>
            </legend>
    
            <div class="cards">
                <div class="card">
                    <img src="../../../../assets/icons/size.png" />
                    <strong>{{house.metrosQuadrados}}²</strong>
                </div>
                <div class="card">
                    <img src="../../../../assets/icons/bed.png" />
                    <strong>{{house.qtdQuartos}}</strong>
                </div>
                <div class="card">
                    <img src="../../../../assets/icons/bathroom.png" />
                    <strong>{{house.qtdBanheiros}}</strong>
                </div>
                <div class="card">
                    <img src="../../../../assets/icons/garage.png" />
                    <strong>{{house.qtdVagasNaGaragem}}</strong>
                </div>
            </div>
    
            <span class="price">{{formatValue(house.valor)}}</span>
        </div>
    </div>
</div>
