.containerCardHouse {
  position: relative;
}

.containerCardHouse .fieldset {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: white;
  margin-bottom: 0.8rem;
  min-width: 846px;
}

.containerCardHouse .fieldset > img {
  width: 16.3rem;
}

.containerCardHouse .fieldset .content legend .anunciante > span {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  width: 100%;
  min-width: 500px;
}

.containerCardHouse .fieldset .content legend .anunciante {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCardHouse .fieldset .content legend .anunciante .acoes {
  display: flex;
}

.containerCardHouse .acoes img {
  margin-left: 20px;
  cursor: pointer;
}

.containerCardHouse .fieldset .content {
  padding: 10px;
  width: 100%;
  position: relative;
}

.containerCardHouse .fieldset .content legend input {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
  width: 100%;
}

.containerCardHouse .cards {
  display: flex;
}

.containerCardHouse .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 3px 5px 5px 3px rgba(193, 31, 31, 0.25);
  border-radius: 8px;
  padding: 0.6rem;
  margin-right: 0.9rem;
  margin-top: 13px;
  min-width: 100px;
}

.containerCardHouse .cards .card strong {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.containerCardHouse .fieldset .content .price {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.4rem;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price span:nth-child(1) {
  color: #1f703f;
}

.price span:nth-child(2) {
  color: #0075ff;
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
}
