.containerNavbar {
  width: 100%;
  position: relative;
}

.containerNavbar .links {
  display: flex;
  align-items: center;
}

.containerNavbar .links a {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #0075ff;
  margin-left: 25px;
}

.containerNavbar > img {
  position: fixed;
  height: 100vh;
  width: 100%;
}

#logout {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ff0000;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 25px;
}

.containerNavbar .backdrop {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.containerNavbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #e5e5e5;
  height: 4rem;
  box-shadow: 7px 17px 20px rgba(255, 255, 255, 0.4);
}

.containerNavbar header img {
  width: 11rem;
  height: 3.4rem;
  cursor: pointer;
}

.containerNavbar header span {
  margin-right: 1rem;
}
