<div class="containerWelcome">
    <div class="backdrop">
        <header>
            <img src="../../../assets/logo.png" alt="logo" />
            <a [routerLink]="['/advertiser/register-house/about']">Anunciar imóvel</a>
        </header>

        <div class="content">
            <span>Encontre seu lar</span>
            <div class="line">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <a href="/advertisement/client">Começar</a>
        </div>
    </div>
</div>