<div class="container-login">
  <div class="backdrop">
    <div class="box-login">
      <form class='example-form'>
        <span>
          Bem-vindo
        </span>
        <span>
          <img src="../../../assets/logo.png" alt="logo-example">
        </span>

        <div class="inputs">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput 
                   placeholder="Exemplo@seuemail.com" 
                   type="email"
                   value=""
                   [(ngModel)]="email"
                   name="email"
                   >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput 
                   placeholder="" 
                   type="password"
                   value=""
                   [(ngModel)]="password"
                   name="senha"
                   >
          </mat-form-field>

          
        </div>
       
      </form>

      <a (click)="login()"><button mat-raised-button>Acessar</button></a>

      <div class="footer-box">
        <p>Ainda não é cadastrado? <a [routerLink]= "['/singup']">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>

