<div class="container-login">
  <div class="backdrop">
    <div class="box-login">
      <form class='example-form' [formGroup]="loginDeUsuario" (ngSubmit)="login()">
        <span>
          Bem-vindo
        </span>
        <span>
          <img src="../../../assets/logo.png" alt="logo-example">
        </span>

        <div class="inputs">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
              <input matInput 
                   placeholder="Exemplo@seuemail.com" 
                   type="email"
                   value=""
                   name="email"
                   required
                   formControlName="email"
                   >
                   <mat-error *ngIf='email.invalid'>{{errorMessageEmail()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput 
                   placeholder="" 
                   type="password"
                   value=""
                   name="senha"
                   required
                   formControlName="senha"
                   >
                  <mat-error *ngIf='senha.invalid'>{{errorMessageSenha()}}</mat-error>
          </mat-form-field>

          
        </div>
        <button mat-raised-button type="submit" >Acessar</button>
      </form>

      

      <div class="footer-box">
        <p>Ainda não é cadastrado? <a [routerLink]= "['/singup']">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>

