<div class="indexAnunciante">
    <div class="card">
        <div class="title">
            <h1>Meus anúncios</h1>
            <a>Anunciar imóvel</a>
        </div>
        <hr style="border: 1px solid black;"/>
        
        <div class="list">
            <app-card-house [house]="house" [anunciante]="true"></app-card-house>
            <app-card-house [house]="house" [anunciante]="true"></app-card-house>
            <app-card-house [house]="house" [anunciante]="true"></app-card-house>
            <app-card-house [house]="house" [anunciante]="true"></app-card-house>
        </div>

    </div>
</div>