<div class="indexAnunciante">
    <div class="card">
        <div class="title">
            <h1>Meus anúncios</h1>
            <a [routerLink]= "['/advertiser/register-house/-1']">Anunciar imóvel</a>
        </div>
        <hr style="border: 1px solid black;"/>
        
        <div class="list">
            <ng-container *ngFor="let house of houses">
                <app-card-house 
                    [house]="house" 
                    [anunciante]="false"
                    [acoes]="true"
                    [visualizar]="true"
                    (delete)="deleteHouse(house.id)"
                    (edit)="editHouse(house)"
                    (view)="houseDetails(house)"
                    ></app-card-house>
            </ng-container>
        </div>

    </div>
</div>