h1 {
  text-align: center;
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

section {
  background: #e1d8d8;
  box-shadow: 9px 9px 12px rgba(193, 31, 31, 0.25);
  border-radius: 8px;
  padding: 20px;
  display: flex;
}

section span.divisor {
  border: 1px solid black;
  margin: 0 20px 0 20px;
}

section .locale .fields {
  display: grid;
  grid-template-areas:
    "cep bairro"
    "estado rua"
    "cidade numero"
    "complemento complemento";
  row-gap: 20px;
}

section .about .fields,
section .value .fields {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

section .fields .field span {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  color: #a89c9c;
}

.group-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.group-buttons button {
  width: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 14px 9px 14px 9px;
  cursor: pointer;
}

.group-buttons button:nth-child(1) {
  background: blue;
}

.group-buttons button:nth-child(2) {
  background: #38be3e;
}

.group-buttons button + button {
  margin-left: 20px;
}
