<form [formGroup]='aboutForm'>
    <section>
        <h3>Localização</h3>

        <div class="fields">
            <mat-form-field class="example-full-width" style="grid-area: cep">
                <mat-label>Cep</mat-label>
                <input 
                    matInput
                    #cepCode
                    maxlength="9"
                    placeholder="Ex. 94105-795"
                    value="94043"
                    name="cep"
                    required
                    (blur)="searchCep(cepCode.value)"
                    formControlName="cep"
                    >
                <mat-error *ngIf="cep.invalid">{{errorMessageCep()}}</mat-error>
                <mat-hint align="end">{{cepCode.value.length}} / 9</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: estado;">
                <mat-label>Estado</mat-label>
                <input 
                    matInput
                    placeholder="Ex. Paraná"
                    name="estado"
                    required
                    formControlName="estado">
                    <mat-error *ngIf="estado.invalid">{{errorMessageEstado()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: cidade;">
                <mat-label>Cidade</mat-label>
                <input
                    matInput placeholder="Ex. Paraná"
                    name="cidade"
                    required
                    formControlName="cidade">
                    <mat-error *ngIf="cidade.invalid">{{errorMessageCidade()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: bairro;">
                <mat-label>Bairro</mat-label>
                <input
                    matInput placeholder="Bairro"
                    name="bairro"
                    required
                    formControlName="bairro">
                    <mat-error *ngIf="bairro.invalid">{{errorMessageBairro()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: rua;">
                <mat-label>Rua</mat-label>
                <input matInput
                    placeholder="Rua"
                    name="rua"
                    required
                    formControlName="rua"
                    >
                    <mat-error *ngIf="rua.invalid">{{errorMessageRua()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: numero;">
                <mat-label>Número</mat-label>
                <input matInput
                    placeholder="Número"
                    name="numero"
                    required
                    formControlName="numero"
                    >
                    <mat-error *ngIf="numero.invalid">{{errorMessageNumero()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: complemento;">
                <mat-label>Complemento</mat-label>
                <textarea matInput
                    #complement
                    maxlength="100"
                    placeholder="Complemento"
                    name="complemento"
                    formControlName="complemento"></textarea>
                <mat-hint align="end">{{complement.value.length}} / 100</mat-hint>
            </mat-form-field>
        </div>
    </section>
    <section>
        <h3>Sobre o imóvel</h3>

        <div class="fields">
            <mat-form-field class="example-full-width" style="grid-area: metros;">
                <mat-label>Metros quadrados</mat-label>
                <input matInput
                    maxlength="4"
                    placeholder="Metros quadrados"
                    name="metros quadrados"
                    required
                    formControlName="metrosQuadrados">
                    <mat-error *ngIf="metrosQuadrados.invalid">{{errorMessageMetrosQuadrados()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: quartos;">
                <mat-label>Quantidade de quartos</mat-label>
                <input matInput
                    maxlength="2"
                    placeholder="Quartos"
                    name="quantidade de quartos"
                    required
                    formControlName="qtdQuartos">
                    <mat-error *ngIf='qtdQuartos.invalid'>{{errorMessageQuartos()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: banheiros;">
                <mat-label>Quantidade de banheiros</mat-label>
                <input matInput
                    placeholder="Banheiros"
                    name="quantidade de banheiros"
                    required
                    formControlName="qtdBanheiros">
                    <mat-error *ngIf='qtdBanheiros.invalid'>{{errorMessageBanheiros()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: vagas;">
                <mat-label>Quantidade de vagas na garagem</mat-label>
                <input matInput
                    maxlength="2"
                    placeholder="Vagas na garagem"
                    name="quantidade de vagas" 
                    required
                    formControlName="qtdVagasNaGaragem">
                    <mat-error *ngIf='qtdVagasNaGaragem.invalid'>{{errorMessageGarage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="grid-area: descricao;">
                <mat-label>Descrição</mat-label>
                <textarea matInput
                    #description
                    maxlength="1000"
                    placeholder="Descrição completa"
                    name="descrição"
                    formControlName="descricao"></textarea>
                    <mat-hint align="end">{{description.value.length}} / 1000</mat-hint>
            </mat-form-field>
        </div>
    </section>
</form>

<div class="group-buttons">
    <button (click)="cancel()">Cancelar</button>
    <button (click)="goToPrice()" [disabled]="!aboutForm.valid">Avançar</button>
</div>
