h1 {
  margin-bottom: 3.12rem;
}

form {
  display: flex;
}

section {
  background: #e1d8d8;
  box-shadow: 9px 9px 12px rgba(193, 31, 31, 0.25);
  border-radius: 8px;
  padding: 20px;
}

form section h3 {
  margin-bottom: 30px;
}

form section:nth-child(1) {
  margin-right: 40px;
}

form section:nth-child(1) .fields {
  display: grid;
  grid-template-areas:
    "cep rua"
    "estado numero"
    "cidade complemento"
    "bairro complemento";
  column-gap: 20px;
  row-gap: 20px;
}

form section input,
form section textarea {
  min-width: 320px;
  min-height: 50px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid rgba(185, 160, 160, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 18px;
  line-height: 20px;
  outline: none;
}

form section:nth-child(2) .fields {
  display: grid;
  grid-template-areas:
    "metros banheiros"
    "quartos vagas"
    "descricao descricao";
  column-gap: 20px;
  row-gap: 20px;
}

form section:nth-child(2) input {
  min-width: 20px;
}

textarea {
  height: 120px;
}

.group-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.group-buttons button {
  width: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 14px 9px 14px 9px;
  cursor: pointer;
}

.group-buttons button:nth-child(1) {
  background: #c11f1f;
}

.group-buttons button:nth-child(2) {
  background: #38be3e;
}

.group-buttons button + button {
  margin-left: 20px;
}
