<div class="container-login">
  <div class="backdrop">
    <div class="box-login">
      <form class='example-form' [formGroup]="formularioDeUsuario" (ngSubmit)="register()">
        <span>
          Cadastre-se
        </span> 

        <div class="inputs">
          <mat-form-field class="example-full-width">
            <mat-label>Nome e Sobrenome</mat-label>
            <input matInput 
                   placeholder="Fulano de Sicrano" 
                   value=""
                   required
                   name="Nome"
                   formControlName="nome"
                   >
          <mat-error *ngIf="nome.errors">{{errorMessageName()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput 
                   placeholder="Exemplo@seuemail.com" 
                   type="email"
                   value=""
                   required
                   name="Email"
                   formControlName="email">
          <mat-error *ngIf="email.errors">{{errorMessageEmail()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>CNPJ ou CPF</mat-label>
            <input matInput 
                   placeholder="Fulano de Sicrano" 
                   value=""
                   required
                   name="cnpjCpf"
                   formControlName="cnpjCpf"
                   >
          <mat-error *ngIf="cnpjCpf.errors">{{errorMessageCpf()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Senha (8 caracteres)</mat-label>
            <input matInput
                   placeholder="" 
                   type="password"
                   value=""
                   required
                   name="Senha"
                   formControlName="senha">
          <mat-error *ngIf="senha.errors">{{errorMessagePassword()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Telefone 1</mat-label>
            <input matInput 
                   placeholder="84 9 1234-5678" 
                   type="tel"
                   pattern="[0-9]{2} [9]{1} [0-9]{4}-[0-9]{4}"
                   required
                   name="Telefone 1"
                   formControlName="telefone1">
          <mat-error *ngIf="senha.errors">{{errorMessagePhone()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Telefone 2</mat-label>
            <input matInput 
                   placeholder="84 9 1234-5678" 
                   type="tel"
                   pattern="[0-9]{2} [9]{1} [0-9]{4}-[0-9]{4}"
                   name="Telefone 2"
                   formControlName="telefone2">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Telefone 3</mat-label>
            <input matInput 
                   placeholder="84 9 1234-5678" 
                   type="tel"
                   pattern="[0-9]{2} [9]{1} [0-9]{4}-[0-9]{4}"
                   name="Telefone 3"
                   formControlName="telefone3">
          </mat-form-field>

          
        </div>
        <button mat-raised-button
          [disabled]="!formularioDeUsuario.valid"
          type="submit">Cadastrar</button>
      </form>

      <div class="footer-box">
        <p>Já é cadastrado? <a [routerLink]="['/login']">Login</a></p>
      </div>
    </div>
  </div>
</div>