<form [formGroup]="priceForm">
    <section>
        <h3>Valor do imóvel</h3>

        <div class="type-immobile">
            <button (click)="changeIsVenda(true)" 
                type="button" 
                [ngClass]="{'selected' : isVenda == true}">Venda</button>
            <button (click)="changeIsVenda(false)"
                type="button"
                [ngClass]="{'selected' : isVenda == false}">Aluguel</button>
        </div>

        <div style="margin-top: 40px;">
            <mat-form-field appearance="fill">
                <mat-label>Preço</mat-label>
                <input 
                    matInput type="number" 
                    class="example-right-align"
                    name="preço"
                    required
                    formControlName="valor"
                    >
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>.00</span>
                <mat-error *ngIf="valor.invalid">{{errorMessageValor()}}</mat-error>
            </mat-form-field>
        </div>

        <div style="margin-top: 40px; display: flex;">
            <div style="min-width: 250px;">
                <div >
                    <mat-checkbox [checked]="checkCondominio" (change)="changeCondominio()" name="condominio" >Têm condominio</mat-checkbox>
                </div>
                
                <div style="margin-top: 20px;" *ngIf="checkCondominio">
                    <mat-form-field appearance="fill">
                        <mat-label>Preço</mat-label>
                        <input
                            matInput
                            type="number"
                            class="example-right-align"
                            name="Valor condominio"
                            required
                            formControlName="condominio">
                            <mat-error *ngIF=" checkCondominio.true && condominio.invalid">{{errorMessageCondominio()}}</mat-error>
                        <span matPrefix>R$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
            </div>
            <div style="min-width: 250px;">
                <div>
                    <mat-checkbox [checked]="checkIPTU" (change)="changeIPTU()" name="IPTU">Têm IPTU</mat-checkbox>
                </div>

                <div style="margin-top: 20px;" *ngIf="checkIPTU">
                    <mat-form-field appearance="fill">
                        <mat-label>Preço</mat-label>
                        <input 
                            matInput 
                            type="number"
                            class="example-right-align"
                            name="Valor IPTU"
                            required
                            formControlName="iptu">
                            <mat-error *ngIF=" checkIPTU.true && iptu.invalid">{{errorMessageIPTU()}}</mat-error>
                        <span matPrefix>R$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
            </div>
        </div>
            
    </section>
</form>

<div class="group-buttons">
    <button (click)="back()">Voltar</button>
    <button (click)="goToPhotos()" [disabled]="!priceForm.valid">Avançar</button>
</div>