<app-progress-house [stage]="2"></app-progress-house>


<form>
    <section>
        <h3>Valor do imóvel</h3>

        <div class="type-immobile">
            <button type="button" class="selected">Venda</button>
            <button type="button" >Aluguel</button>
        </div>

        <input placeholder="R$" type="number"/>

        <mat-form-field class="example-full-width">
            <mat-label>Postal Code</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
        
    </section>
</form>

<div class="group-buttons">
    <button (click)="back()">Voltar</button>
    <button (click)="goToPhotos()">Avançar</button>
</div>