form {
  width: 100%;
  display: flex;
  justify-content: center;
}

form section {
  background: #e1d8d8;
  box-shadow: 9px 9px 12px rgba(193, 31, 31, 0.25);
  border-radius: 8px;
  padding: 20px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form section h3 {
  width: 100%;
  margin-left: 80px;
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.type-immobile {
  margin-top: 40px;
}

.type-immobile button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgba(185, 160, 160, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.type-immobile button + button {
  border-radius: 0 8px 8px 0;
}

.type-immobile > button {
  border-radius: 8px 0 0 8px;
}

.type-immobile button.selected {
  background: #0075ff;
  color: white;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.group-buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.group-buttons button {
  width: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 14px 9px 14px 9px;
  cursor: pointer;
}

.group-buttons button:nth-child(1) {
  background: blue;
}

.group-buttons button:nth-child(2) {
  background: #38be3e;
}

.group-buttons button + button {
  margin-left: 20px;
}
