.containerNavbar {
  width: 100%;
  position: relative;
}

.containerNavbar > img {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.containerNavbar .backdrop {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.containerNavbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #e5e5e5;
  height: 4rem;
  box-shadow: 7px 17px 20px rgba(255, 255, 255, 0.4);
}

.containerNavbar header img {
  width: 11rem;
  height: 3.4rem;
  margin-left: 2.5rem;
}

.containerNavbar header span {
  margin-right: 3.5rem;

  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 0, 0, 0.425);
}

.containerNavbar header span:hover {
  color: rgb(255, 0, 0);
}
